# Archana
##
###
####
#####
#######
########
* **Archana**(Bold)
* *point*(Italic)
* ***point***(Bold and italic)

* Python
 * list
 * dict
 
> 1. python
> 2. Data Science

google : http://www.google.com
youtube : http://www.youtube.com

* Google -- [google][1]
[1]: http://www.google.com

* Youtube -- [youtube][2]
[2]: http://www.youtube.com

### Python Basics
* Python version 3.7
* Functional Programming
* Object oriented Programming 
* Scripting Programming

In [4]:
print('hello')
print ('world')

hello
world

In [6]:
print('Welcome to New','world ',end = "")
print('Archana')

Welcome to New world Archana

In [11]:
print('Apple','Orange' ,sep=',')
print('Orange')

Apple,Orange
Orange

In [12]:
n1 = 100
a=b=c=29
a1,b1,c1=1,2,3
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
29 29 29
1 2 3

In [21]:
a=12
b='arc'
c='archie'
e=12.4
print(a,b,c,e)
print(type(a))
print(type(b))
print(type(c))
print(type(e))

12 arc archie 12.4
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [20]:
i=10
print(type(i))
a=str(i)
print(type(a))
b=float(i)
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>

In [23]:
a='12'
print(type(a))
d=int(a)
print(type(d))

<class 'str'>
<class 'int'>

In [24]:
f=1.5
print(type(f))
d=int(f)
print(type(d))

<class 'float'>
<class 'int'>

In [26]:
a='arc'
b=2341
print(len(str(a)))
print(len(str(b)))

3
4

In [27]:
print(input('enter your name :'))

enter your name :Archana
Archana

In [29]:
a1=input("Enter your name ")
print(a1)
print(type(a1))

Enter your name arc
arc
<class 'str'>

In [32]:
a1=int(input("Enter any number "))
print(a1)
print(type(a1))

Enter any number 123
123
<class 'int'>

# Operators
 
* Arithemetic operator
 * +
 * *
 * -
 * / return float value
 * %
 * // integeral value
 * **

In [35]:
a=12
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

14
10
24
6.0
0
6
144

# precendence of arth operator
    
    * paranthesis
    * power
    * division
    * multiplication
    * Addition
    * Subtraction
    
    left to right

In [38]:
x = 1**3+2/3
print(x)

1.6666666666666665

### Relational Operators
 - (==)
 - (>)
 - (<)
 - (>=)
 - (<=)
 - (!=)

In [40]:
1!=2

True

In [41]:
a=12
b=2
print(a==b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

False
True
False
True
False
True

## logical operators

### Used to combine more than single condition
 
 - and
 - or
 - not

In [42]:
i = 100
a1 = (i>15) and (i<200)
a2 = (i>15) and (i>200)
print(a1)
print(a2)

True
False

### Control flow statments

- Conditional Statments
- Looping Statements

#### if-else statement

**syntax**

if Boolean_condition
statements
else:
Statements

In [43]:
n = int(input("Enter any number"))
if n%2 == 0:
    print("even")
else:
    print('odd')

Enter any number12
even

In [45]:
n =int(input("enter any number"))
if n%3==0 and n%5==0:
    print('yes')
else:
    print('no')

enter any number15
yes

In [48]:
#test given number is positive ,negative or zero
n = int(input('enter any number'))
if n==0:
    print('zero')
elif n>0:
    print('positive number')
elif n<0:
    print('negative number')

enter any number-2
negative number